<h2>Realm Question</h2>

<a href="/write">Write</a>

<h2>currentUser: {{currentUser}}</h2>

{{#each questions}}
  <h3>author: {{author.id}}</h3>
  <p>question: {{question}}</p>
  {{#ifCond author.id ../currentUser}}<button>edit</button>{{/ifCond}}
{{/each}}
