#question textarea{
  width:70%;
}

#currentuser{
  color:#fff;
}

.answered{
  background-color:#e0e0e0;
}
.glyphicon{
  font-size:18px;
}
.hover-color:hover{
  color:red;
}
.voted.hover-color:hover{
  color:blue;
}
.row{
  min-height:40px;
}

.row#topbar{
  margin-top:20px;

  font-weight: bold;
  border-bottom:2px solid #999;
}

.question{
  border-bottom:1px solid #CCC;
}

.voted{
  color:red;
  font-weight: bold;
}